/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v23-latin-regular.eot");
	/* IE9 Compat Modes */
	src: local(""),
		url("../fonts/montserrat-v23-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/montserrat-v23-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/montserrat-v23-latin-regular.svg#Montserrat") format("svg");
	/* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/montserrat-v23-latin-500.eot");
	/* IE9 Compat Modes */
	src: local(""),
		url("../fonts/montserrat-v23-latin-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/montserrat-v23-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../fonts/montserrat-v23-latin-500.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/montserrat-v23-latin-500.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/montserrat-v23-latin-500.svg#Montserrat") format("svg");
	/* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/montserrat-v23-latin-700.eot");
	/* IE9 Compat Modes */
	src: local(""),
		url("../fonts/montserrat-v23-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/montserrat-v23-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../fonts/montserrat-v23-latin-700.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/montserrat-v23-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/montserrat-v23-latin-700.svg#Montserrat") format("svg");
	/* Legacy iOS */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252a;
}

body {
	background-color: rgb(34, 35, 68);
}

li,
a,
button {
	font-family: "Montserrat", serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: "Montserrat", serif;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.logo:hover {
	color: #0088a9;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-transform: capitalize;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.6);
}
